*.swp
*.pyc
*.pyo
build
site_media
db.sqlite3*
local_settings.py
*,cover
.cover
cdrdata
.idea
venv
node_modules
cypress/screenshots
cypress/videos
.sass-cache
npm-debug.log
templates_branding
buildtime.txt
testbuild
static/dist
.coverage.*
.spyproject
.env
temp
last_url_results.*
