anyjson==0.3.3
asn1crypto==1.4.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
bs4==0.0.1
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
decorator==5.0.7
django-js-asset==1.2.2
djangorestframework-recursive==0.1.2
jinja2==2.11.3
kombu==5.2.2
lxml==4.6.5
markupsafe==2.0.1
psutil==5.8.0
pyOpenSSL==20.0.1
PySocks==1.7.1
six==1.16.0
reportlab==3.6.6
sqlparse==0.4.2
urllib3==1.26.7
