{% extends "base_vuetifyed.html" %}

{% load bootstrap3 i18n %}

{% block title %}Skapa ny bokning{% endblock %}

{% block page_icon %}mdi-calendar{% endblock %}
{% block page_title %}{% trans "Lägg till bokning" %}{% endblock %}
{% block page_search_filter %}{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'meeting_debug_list' %}?customer={{ customer.pk }}">{% trans "Bokade möten" %}</a> /
{% endblock %}

{% block page_content %}

    {% if customer %}
        {% include "blocks/page_notification.html" %}


        <div class="row mt-4">
        <div class="col-lg-8">
        <div class="card card-shadow">
            <div class="card-body">
                <div class="alert alert-info">
                    {% trans "Skapade bokningar kan inte ändras och bör därför främst användas i testsyfte" %}
                </div>

                {% if error %}
                <div class="alert alert-danger my-4">
                    <strong>{% trans "Fel" %}</strong>: {{ error }}
                </div>
                {% elif form.errors %}
                    {% bootstrap_form_errors form error_types='all' %} {# TODO remove error_types='all' when fields are marked inline #}
                {% endif %}

                <form method="post">

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {% if field.name == 'owner_jid' %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                <div data-vue="UserPicker" data-input-name="owner_jid" data-item-value="jid" data-value="{{ field.value|default:'' }}"></div>
                            </div>
                        {% elif field.name == 'dialout' %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                <div data-vue="SipAddressPicker" data-input-name="dialout" data-value="{{ field.value }}"></div>
                            </div>
                        {% else %}
                            {% bootstrap_field field %}
                        {% endif %}
                    {% endfor %}

                    <input type="hidden" name="customer" value="{{ customer.pk }}"/>
                    {% csrf_token %}

                    <button class="btn btn-primary">{% trans "Boka" %}</button>
                </form>

            </div>
        </div>
        </div>
        </div>

        <script>
            jQuery(function ($) {
                var pin = $('input[name=password]').closest('.form-group');

                var enable_pin = $('<div class="checkbox"><label><input type="checkbox" /> {% trans "Aktivera PIN-kod" %}</label></div>').insertBefore(pin).change(function() {
                    pin.toggle(this.checked);
                    if (!this.checked) pin.find('input').val('')
                    $(this).toggle(!this.checked)
                });

                if (!pin.find('input').val()) {
                    pin.hide();
                    enable_pin.find('input').prop('checked', false)
                } else {
                    enable_pin.find('input').prop('checked', true)
                }

                var $lobby = $('input[name="lobby"]');
                var $lobbyPin = $('input[name="lobby_pin"]').closest('.form-group');

                function maybeShowLobbyPin(duration) {
                    var shouldShow = $lobby.is(':checked');
                    if (shouldShow) {
                        $lobbyPin.show(duration);
                    } else {
                        $lobbyPin.hide(duration);
                    }
                }

                $lobby.change(maybeShowLobbyPin);
                maybeShowLobbyPin(0);
            });
        </script>


    {% endif %}



{% endblock page_content %}
