// Colors

$dark: #000;
$primary: #008CE9;
$gray-200: #f1f3f5;

// Typography



// Components

$card-spacer-y: 1.5rem;
$card-spacer-x: 2rem;
$font-family-sans-serif: "Roboto";

$table-accent-bg:             $gray-200;
//$table-hover-bg:              #ff0000;
//$table-active-bg:             #ff0000;
