{% extends "base_standalone.html" %}

{% load bootstrap3 static i18n %}

{% block page_body %}
<div class="full-page">
    <div class="card card-settings">
    <form action="{% url 'onboard_fallback_password' %}?next={{ next }}" method="post" role="form" class="form mb-0">
        <div class="card-header">
            <h3 class="mb-2">{% trans "Välj lösenord" %}</h3>
            <p class="mb-0">{% trans "Sätt nytt lösenord för användare" %} "mividas_fallback"</p>
        </div>
        <div class="card-body pb-4">
            {% csrf_token %}
            {% bootstrap_form form %}
        </div>
        <div class="card-footer">
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary">
                    {% trans "Gå vidare" %}
                </button>
                <a href="?skip=1" class="ml-auto">{% trans "Hoppa över" %}</a>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock page_body %}
