{% extends "base_standalone.html" %}

{% load bootstrap3 static i18n %}

{% block page_body %}
<div class="full-page card-baselogin-container">
    <div class="card card-shadow card-baselogin">

        {% if theme.logo_image %}
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 logo-container {% if theme.dark_mode %}dark{% endif %}">
                <div>
                {% block logo %}
                    <img src="{{ theme.logo_image }}" alt="" style="width:100%;max-width:240px;" />
                {% endblock %}
                </div>
            </div>
            <div class="col-12 col-sm-6">
        {% endif %}
                <div class="card-body">
                    <div class="card-form">
                        <h1 class="h4 font-weight-bold">{% trans "Ändra lösenord" %}</h1>
                        <p>
                            {% blocktrans with username=request.user %}Byt lösenord för {{ username }}{% endblocktrans %}
                        </p>

                        {% if form.is_bound and not form.is_valid %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>

                        {% endif %}
                        <form action="{% url 'change_password' %}?next={{ next }}" method="post" role="form" class="form mb-0 mt-4">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary px-4">
                                {% trans "Ändra lösenord" %}
                            </button>
                        </form>
                    </div>
                </div>
        {% if theme.logo_image %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
